	<fieldset>
		<div style="width:100%">
			<form id="form_{$acak}" method="post" url="{$host}backoffice-simpan/cl_facility_unit/{$sts}">
			<input type="hidden" id="editStatus_{$acak}" name="editstatus" value="{$sts}">
			<input type="hidden" id="id_{$acak}" name="id" value="{$data.id|default:''}">
			
			<table class="table table-hover">
				{include file="backend/template/input_goyz.html" label="Facility Name" style_type="width:80%" type="text" id="facility_name{$acak}" name="facility_name" class="validasi" value="{$data.facility_name|default:''}"}
				{include file="backend/template/input_goyz.html" label="Unit/Uom" style_type="width:20%" type="text" id="unit{$acak}" name="unit" class="validasi" value="{$data.unit|default:''}"}
				<tr>
					<td>&nbsp;</td><td>Status</td><td>:</td>
					<td style="font-weight:bold;">
							<input name="flag" type="checkbox" value="F" {if $sts eq 'edit'}{if $data.flag|default:'' eq 'F'}checked{/if}{else}checked{/if} >&nbsp;&nbsp;<span class="lbl" >Aktif</span>
						</div>
					</td>
				</tr>
			</table>
			</form>
		</div>
		<div style="width:100%">
			
			{include file="backend/template/button_save.html" text="Save Data" id_na="save" style_btn="btn-success"  btn_goyz="true"}
			{include file="backend/template/button_save.html" text="Cancel" click="$('#grid_nya_{$mod}').show();$('#detil_nya_{$mod}').hide();" id_na="cancel" style_btn="btn-danger"  btn_goyz="true"}
		</div>
	</fieldset>


<script>
	$(".validasi").validatebox({ required:true }); 
	$('#save_{$acak}').bind('click',function(){
		simpan_form('form_{$acak}','cancel_{$acak}','Data Was Saved');
	});
</script>