	<fieldset>
		<div style="width:100%">
			<form id="form_{$acak}" method="post" url="{$host}backoffice-simpan/reservation/{$sts}">
			<input type="hidden" id="editStatus_{$acak}" name="editstatus" value="{$sts}">
			<input type="hidden" id="id_{$acak}" name="id" value="{$data.id|default:''}">
			<input type="hidden" id="tbl_transaction_package_id{$acak}" name="tbl_transaction_package_id" value="{$tbl_transaction_package_id|default:''}">
			<input type="hidden" id="tbl_package_header_id{$acak}" name="tbl_package_header_id" value="{$tbl_package_header_id|default:''}">
			<input type="hidden" id="tbl_package_detil_id{$acak}" name="tbl_package_detil_id" value="{$tbl_package_detil_id|default:''}">
			<table class="table table-hover">
				{if $sts eq 'add'}
				{include file="backend/template/input_goyz.html" label="Costumer Name" style_type="width:80%" type="text" id="costumer_name{$acak}" name="costumer_name" class="validasi" value="{$data.costumer_name|default:''}"}
				{include file="backend/template/input_goyz.html" label="Email" style_type="width:40%" type="text" id="email_costumer{$acak}" name="email_costumer" class="validasi" value="{$data.email_costumer|default:''}"}
				{include file="backend/template/input_goyz.html" label="Phn. Mobile" style_type="width:30%" type="text" id="no_mobile{$acak}" name="no_mobile" class="validasi" value="{$data.no_mobile|default:''}"}
				{include file="backend/template/input_goyz.html" label="Phone" style_type="width:20%" type="text" id="no_telp{$acak}" name="no_telp" class="validasi" value="{$data.no_telp|default:''}"}
				{include file="backend/template/input_goyz.html" label="Address" style_type="width:80%" type="text" id="address{$acak}" name="address" value="{$data.address|default:''}"}
				{include file="backend/template/input_goyz.html" label="Reserv. Start Date" style_type="width:40%" type="text" id="reservation_start_date{$acak}" name="reservation_start_date" class="tgl" value="{$data.reservation_start_date|default:''}"}
				{include file="backend/template/input_goyz.html" label="Reserv. End Date" style_type="width:40%" type="text" id="reservation_end_date{$acak}" name="reservation_end_date" class="tgl" value="{$data.reservation_end_date|default:''}"}
				{include file="backend/template/input_goyz.html" label="Rate (For Homtel)" style_type="width:20%" type="text" id="rate{$acak}" name="rate" class="angka" value="{$data.rate|default:''}"}
				<input type="hidden" id="flag{$acak}" name="flag" value="R">
				{else}
				<tr>
					<td>&nbsp;</td><td>Costumer Name</td><td>:</td>
					<td style="font-weight:bold;">{$data.costumer_name|default:''}</td>
				</tr>
				<tr>
					<td>&nbsp;</td><td>Email</td><td>:</td>
					<td style="font-weight:bold;">{$data.email_costumer|default:''}</td>
				</tr>
				<tr>
					<td>&nbsp;</td><td>Address</td><td>:</td>
					<td style="font-weight:bold;">{$data.address|default:''}</td>
				</tr>
				<tr>
					<td>&nbsp;</td><td>Mobile</td><td>:</td>
					<td style="font-weight:bold;">{$data.no_mobile|default:''}</td>
				</tr>
				<tr>
					<td>&nbsp;</td><td>Phone</td><td>:</td>
					<td style="font-weight:bold;">{$data.no_telp|default:''}</td>
				</tr>
				<tr>
					<td>&nbsp;</td><td>Reserv. Start Date</td><td>:</td>
					<td style="font-weight:bold;">{$data.reservation_start_date|default:''}</td>
				</tr>
				<tr>
					<td>&nbsp;</td><td>Reserv. End Date</td><td>:</td>
					<td style="font-weight:bold;">{$data.reservation_end_date|default:''}</td>
				</tr>
				{if $data.flag eq 'R'}
				{include file="backend/template/input_goyz.html" label="Confrim Start Date" style_type="width:40%" type="text" id="confirm_start_date{$acak}" name="confirm_start_date" class="tgl" value="{$data.reservation_start_date|default:''}"}
				{include file="backend/template/input_goyz.html" label="Confrim End Date" style_type="width:40%" type="text" id="confirm_end_date{$acak}" name="confirm_end_date" class="tgl" value="{$data.reservation_end_date|default:''}"}
				<input type="hidden" id="flag{$acak}" name="flag" value="CN">
				{else if $data.flag eq 'CN'}
				<tr>
					<td>&nbsp;</td><td>Confirm. Start Date</td><td>:</td>
					<td style="font-weight:bold;">{$data.confirm_start_date|default:''}</td>
				</tr>
				<tr>
					<td>&nbsp;</td><td>Confirm. End Date</td><td>:</td>
					<td style="font-weight:bold;">{$data.confirm_end_date|default:''}</td>
				</tr>
				{include file="backend/template/input_goyz.html" label="CheckIn Date" style_type="width:40%" type="text" id="check_in_date{$acak}" name="check_in_date" class="tgl" value="{$data.confirm_start_date|default:''}"}
				<input type="hidden" id="flag{$acak}" name="flag" value="CI">
				{else if $data.flag eq 'CI'}
				<tr>
					<td>&nbsp;</td><td>Confirm. Start Date</td><td>:</td>
					<td style="font-weight:bold;">{$data.confirm_start_date|default:''}</td>
				</tr>
				<tr>
					<td>&nbsp;</td><td>Confirm. End Date</td><td>:</td>
					<td style="font-weight:bold;">{$data.confirm_end_date|default:''}</td>
				</tr>
				<tr>
					<td>&nbsp;</td><td>Check In Date</td><td>:</td>
					<td style="font-weight:bold;">{$data.check_in_date|default:''}</td>
				</tr>
				{include file="backend/template/input_goyz.html" label="CheckOut Date" style_type="width:40%" type="text" id="check_out_date{$acak}" name="check_out_date" class="tgl" value="{$data.check_in_date|default:''}"}
				<input type="hidden" id="flag{$acak}" name="flag" value="F">
				{else}
				<tr>
					<td>&nbsp;</td><td>Confirm. Start Date</td><td>:</td>
					<td style="font-weight:bold;">{$data.confirm_start_date|default:''}</td>
				</tr>
				<tr>
					<td>&nbsp;</td><td>Confirm. End Date</td><td>:</td>
					<td style="font-weight:bold;">{$data.confirm_end_date|default:''}</td>
				</tr>
				<tr>
					<td>&nbsp;</td><td>Confirm. Start Date</td><td>:</td>
					<td style="font-weight:bold;">{$data.confirm_start_date|default:''}</td>
				</tr>
				<tr>
					<td>&nbsp;</td><td>Confirm. End Date</td><td>:</td>
					<td style="font-weight:bold;">{$data.confirm_end_date|default:''}</td>
				</tr>
				<tr>
					<td>&nbsp;</td><td>Check In Date</td><td>:</td>
					<td style="font-weight:bold;">{$data.check_in_date|default:''}</td>
				</tr>
				<tr>
					<td>&nbsp;</td><td>Check Out Date</td><td>:</td>
					<td style="font-weight:bold;">{$data.check_out_date|default:''}</td>
				</tr>
				{/if}
				{/if}
				
			</table>
			</form>
		</div>
		<div style="width:100%">
			{* {include file="backend/template/button_save.html" text="Send Notification To Activation" id_na="simpan" btn_goyz="true" } *}
			{if $sts eq 'add'}
			{include file="backend/template/button_save.html" text="Save Reservation" id_na="save" style_btn="btn-success"  btn_goyz="true"}
			{else}
			{if $data.flag eq 'R'}
			{include file="backend/template/button_save.html" text="Set Confirmation" id_na="save" style_btn="btn-success"  btn_goyz="true"}
			{else if $data.flag eq 'CN'}
			{include file="backend/template/button_save.html" text="Set CheckIn" id_na="save" style_btn="btn-success"  btn_goyz="true"}
			{else if $data.flag eq 'CI'}
			{include file="backend/template/button_save.html" text="Set CheckOut & Finish" id_na="save" style_btn="btn-success"  btn_goyz="true"}
			{/if}
			{if $data.flag neq 'F'}
			{include file="backend/template/button_save.html" text="Cancel Reservation" id_na="cancel" style_btn="btn-warning"  btn_goyz="true"}
			{include file="backend/template/button_save.html" text="Delete Reservation" id_na="hapus" style_btn="btn-danger"  btn_goyz="true"}
			{/if}
			{/if}
		</div>
	</fieldset>


<script>
	$(".validasi").validatebox({ required:true }); 
	$(".tgl").datebox({ formatter: formatDate,parser:myparser  }); 
	
	{if $sts eq 'add'}$('.tgl').datebox('setValue',today);{/if}
	$(".angka").numberbox(); 
	$('#cancel_{$acak}').bind('click',function(){
		$.messager.confirm('Homtel Backoffice','Are You Sure Cencel This Data Reservation?',function(re){
			if(re){
				$.post(host+'backend/set_flag/reservasi',{ flag:'C',id:{$data.id|default:0} },function(r){
					if(r==1){
						$.messager.alert('Homtel Back-Office',"Data Was Canceled ",'info');
						//get_kalender({$tbl_transaction_package_id|default:0},{$tbl_package_detil_id|default:0},acak_kalender);
						get_detil('reservation',{$tbl_transaction_package_id|default:0});
						closeWindow();
					}else{
						$.messager.alert('Homtel Back-Office',"Failed Canceled ",'error');
					}
				});
			}
		});
	});
	$('#save_{$acak}').bind('click',function(){
		if ($('#form_{$acak}').form('validate')){
			submit_form('form_{$acak}',function(r){
				console.log(r);
				if(r==1){
					$.messager.alert('Homtel Back-Office',"Reservation Was Save ",'info');
					//get_kalender({$tbl_transaction_package_id|default:0},{$tbl_package_detil_id|default:0},acak_kalender);
					get_detil('reservation',{$tbl_transaction_package_id|default:0});
					closeWindow();
				}else{
					$.messager.alert('Homtel Back-Office',"Failed Save ",'error');
				}
			});
		}else{
			$.messager.alert('Homtel Back-Office',"Isi Data Yang Kosong ",'info');
		}
	});
	$('#hapus_{$acak}').bind('click',function(){
		$.messager.confirm('Homtel Backoffice','Are You Sure Delete This Data?',function(re){
			if(re){
				$.post(host+'backoffice-simpan/reservation/delete',{ id:{$data.id|default:0} },function(r){
					if(r==1){
						$.messager.alert('Homtel Back-Office',"Data Was Deleted ",'info');
						//get_kalender({$tbl_transaction_package_id|default:0},{$tbl_package_detil_id|default:0},acak_kalender);
						get_detil('reservation',{$tbl_transaction_package_id|default:0});
						closeWindow();
					}else{
						$.messager.alert('Homtel Back-Office',"Failed Deleted ",'error');
					}
				});
				}
		});
	});
</script>