<div class="row-fluid">
	<h3>Invoice Header</h3>
</div>
<div class="row-fluid">
	<div class="span6">
	<table class="table table-hover">
		<tr>
			<td>&nbsp;</td><td>No Invoice</td><td>:</td>
			<td style="font-weight:bold;">{$data.header.no_invoice|default:'-'}</td>
		</tr>
		<tr>
			<td>&nbsp;</td><td>Invoice Date</td><td>:</td>
			<td style="font-weight:bold;">{$data.header.date_invoice|default:'-'}</td>
		</tr>
		<tr>
			<td>&nbsp;</td><td>Method Payment</td><td>:</td>
			<td style="font-weight:bold;">{$data.header.method_payment|default:'-'}</td>
		</tr>
	</table>
	</div>
	<div class="span6">
	<table class="table table-hover">
		<tr>
			<td>&nbsp;</td><td>Owner Name</td><td>:</td>
			<td style="font-weight:bold;">{$data.header.nama|default:'-'}</td>
		</tr>
		<tr>
			<td>&nbsp;</td><td>Apartment Name</td><td>:</td>
			<td style="font-weight:bold;">{$data.header.apartment_name|default:'-'}</td>
		</tr>
		<tr>
			<td>&nbsp;</td><td>Services Name</td><td>:</td>
			<td style="font-weight:bold;">{$data.header.services_name|default:'-'}</td>
		</tr>
	</table>
	</div>
</div>
<div class="row-fluid">
	<h3>Listing Member</h3>
</div>
<div class="row-fluid">
	<div class="span6">
	<table class="table table-hover">
		<tr>
			<td>&nbsp;</td><td>Listing Platform</td><td>:</td>
			<td style="font-weight:bold;">{$data.listing.listing_platform|default:'-'}</td>
		</tr>
		<tr>
			<td>&nbsp;</td><td>Listed Unit</td><td>:</td>
			<td style="font-weight:bold;">
			<ul>
			{foreach from=$data.list item=i}
				<li>{$i.listed_unit|default:'-'}{if $i.other neq ''}( {$i.other|default:'-'} ){/if}</li>
			{/foreach}
			</ul>
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td><td>Listing UserName</td><td>:</td>
			<td style="font-weight:bold;">{$data.listing.listing_user|default:'-'}</td>
		</tr>
		<tr>
			<td>&nbsp;</td><td>Listing Password</td><td>:</td>
			<td style="font-weight:bold;">{$data.listing.listing_pwd|default:'-'}</td>
		</tr>
		<tr>
			<td>&nbsp;</td><td>Pictures Tacking</td><td>:</td>
			<td style="font-weight:bold;">{$data.listing.pictures_taking|default:'-'}</td>
		</tr>
		
		<tr>
			<td>&nbsp;</td><td>Third Party Affiliation</td><td>:</td>
			<td style="font-weight:bold;">{$data.affiliation.third_party_affiliation|default:'-'}</td>
		</tr>
		
		
		<tr>
			<td>&nbsp;</td><td>Unit Management</td><td>:</td>
			<td style="font-weight:bold;">
				 {$data.listing.unit_management|default:'-'}
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td><td>Other Unit Management Contact</td><td>:</td>
			<td style="font-weight:bold;">
				Name : {$data.listing.management_contact_name|default:'-'}<br>
				Contact Number : {$data.listing.management_contact_number|default:'-'}<br>
				Relation : {$data.listing.management_contact_relation|default:'-'}
			</td>
		</tr>
	</table>
	</div>
	<div class="span6">
	<table class="table table-hover">
		<tr>
			<td>&nbsp;</td><td>Daily Rental Price Range</td><td>:</td>
			<td style="font-weight:bold;">
				{$data.listing.daily_price_min|number_format:2:',':'.'|default:'-'} - {$data.listing.daily_price_max|number_format:2:',':'.'|default:'-'}
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td><td>Monthly Rental Price Range</td><td>:</td>
			<td style="font-weight:bold;">
			{$data.listing.monthly_price_min|number_format:2:',':'.'|default:'-'} - {$data.listing.monthly_price_max|number_format:2:',':'.'|default:'-'}
		</td>
		</tr>
		<tr>
			<td>&nbsp;</td><td>Weekly Rental Price Range</td><td>:</td>
			<td style="font-weight:bold;">
				{$data.listing.weekly_price_min|number_format:2:',':'.'|default:'-'} - {$data.listing.weekly_price_max|number_format:2:',':'.'|default:'-'}
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td><td>Yearly Rental Price Range</td><td>:</td>
			<td style="font-weight:bold;">
				{$data.listing.yearly_price_min|number_format:2:',':'.'|default:'-'} - {$data.listing.yearly_price_max|number_format:2:',':'.'|default:'-'}
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td><td>Unit Utilization</td><td>:</td>
			<td style="font-weight:bold;">{$data.listing.unit_utilization|default:'-'}</td>
		</tr>
		<tr>
			<td>&nbsp;</td><td>Unit Rental Availability</td><td>:</td>
			<td style="font-weight:bold;">{$data.listing.unit_rental_availability|default:'-'}</td>
		</tr>
		<tr>
			<td>&nbsp;</td><td>Payment Transfer</td><td>:</td>
			<td style="font-weight:bold;">{$data.listing.payment_transfer|default:'-'}</td>
		</tr>
		<tr>
			<td>&nbsp;</td><td>&nbsp;&nbsp; Bank Name</td><td>:</td>
			<td style="font-weight:bold;">{$data.listing.bank_name|default:'-'}</td>
		</tr>
		<tr>
			<td>&nbsp;</td><td>&nbsp;&nbsp; Account Number</td><td>:</td>
			<td style="font-weight:bold;">{$data.listing.account_number|default:'-'}</td>
		</tr>
		<tr>
			<td>&nbsp;</td><td>&nbsp;&nbsp; Account Holder</td><td>:</td>
			<td style="font-weight:bold;">{$data.listing.account_holder|default:'-'}</td>
		</tr>
	</table>
	</div>
</div>
{include file="backend/template/button_save.html" text="Back To Grid" click="$('#grid_nya_{$mod}').show();$('#detil_nya_{$mod}').hide();" id_na="cancel" style_btn="btn-danger"  btn_goyz="true"}