<!--div class="span6">
<table class="table table-hover">
	<tr>
		<td>&nbsp;</td><td>Max. Total Planning</td><td>:</td>
		<td style="font-weight:bold;">{$total_row|default:'-'}</td>
	</tr>
	
</table>
</div>
<div class="span6">
<table class="table table-hover">
	<tr>
		<td>&nbsp;</td><td>Total residual</td><td>:</td>
		<td style="font-weight:bold;">{$sisa_row|default:'-'}</td>
	</tr>
	
</table>
</div-->
<div class="row-fluid">
	<center>
	{include file="backend/template/button_save.html" text="Add New Item Package" id_na="add" style_btn="btn-info"  btn_goyz="true" click="get_form('package_item','add','',{$tbl_package_header_id});"}
	</center>
</div>
<br>
<table class="table table-hover">
	<thead>
	<tr>
		<th style="text-align:center;">No</th>
		<th style="text-align:center;" >Services Name</th>
		<th style="text-align:right;">Qty</th>
		<th style="text-align:right;">Rate</th>
		
		<th style="text-align:center;">Editing</th>
	</tr>
	</thead>
	<tbody>
	{if !empty($data)}
	{assign var=tot_qty value=0}
	{assign var=grand_tot value=0}
	{foreach from=$data item=i name=x}
	{if $i.flag_sum eq 'Y'}
	{assign var=tot_qty value=$tot_qty+$i.qty}
	{assign var=grand_tot value=$grand_tot+$i.rate}
	{/if}
	<tr>
		<td style="text-align:center;">{$smarty.foreach.x.iteration}</td>
		<td style="text-align:left;">
			{if $i.header|default:'' eq '-'}
			{$i.header2|default:''}
			{else}
			{$i.header|default:''} - {$i.header2|default:''}
			{/if}
			- {$i.services_name|default:''}
		</td>
		<td style="text-align:right;">{$i.qty|default:''}</td>
		<td style="text-align:right;">{$i.rate|number_format:2:',':'.'|default:''}{if $i.flag_sum eq 'N'}%{/if}</td>
		<td style="text-align:center;">
			{if $i.flag|default:'P' eq 'P'}
			<a href="javascript:void(0);" onclick="get_form('package_item','edit',{$i.id|default:''},{$tbl_package_header_id});" class="btn btn-small btn-info">Edit</a>
			<a href="javascript:void(0);" onclick="get_form('package_item','delete',{$i.id|default:''},{$tbl_package_header_id});" class="btn btn-small btn-danger">Delete</a>
			{else}
			Not Availabe To Editing
			{/if}
		</td>
	</tr>	
	{/foreach}
	<tr style="background:#B2B0B0;font-weight:bold;">
		<td>&nbsp;</td>
		<td>Grand Total</td>
		<td style="text-align:right;">{$tot_qty|number_format:0:',':'.'|default:''}</td>
		<td style="text-align:right;">{$grand_tot|number_format:2:',':'.'|default:''}</td>
		<td>&nbsp;</td>
	</tr>
	{else}
	<tr>
		<td colspan="7" style="text-align:center;">NO DATA PACKAGE ITEM.. PLEASE CLICK BUTTON ADD NEW PACKAGE ITEM..</td>
	</tr>
	{/if}
	</tbody>
</table>
