<div  class="sidebar fixed" id="sidebar">
	<ul class="nav nav-list">
		<li>
			<a href="javascript:void(0);" onclick="loadUrl('{$host}beranda');$('#judul_kecil').html('Dashboard App')">
				<i class="icon-home"></i>
				<span class="menu-text">Dashboard 1</span>
			</a>
		</li>
		
		<li>
			<a href="javascript:void(0);" onclick="loadUrl('{$host}Backoffice-Grid/property');$('#judul_kecil').html('Property List')">
				<i class="icon-laptop"></i>
				<span class="menu-text">Property</span>
			</a>
		</li>
		
		<li>
			<a href="javascript:void(0);"  class="dropdown-toggle" >
				<i class="icon-cogs"></i>
				<span class="menu-text">Services & Pricing</span>
				<b class="arrow icon-angle-down"></b>
			</a>
			<ul class="submenu">
				<li>
					<a href="javascript:void(0);" onclick="loadUrl('{$host}Backoffice-Grid/services');$('#judul_kecil').html('Services List')">
						<i class="icon-double-angle-right"></i>
						<span class="menu-text">Services</span>
					</a>
				</li>
				<li>
					<a href="javascript:void(0);" onclick="loadUrl('{$host}backoffice-konten/pricing');$('#judul_kecil').html('Pricing Services List')">
						<i class="icon-double-angle-right"></i>
						<span class="menu-text">Pricing Services</span>
					</a>
				</li>
				<li>
					<a href="javascript:void(0);" onclick="loadUrl('{$host}backoffice-konten/package');$('#judul_kecil').html('Packages Services List')">
						<i class="icon-double-angle-right"></i>
						<span class="menu-text">Package Services</span>
					</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="javascript:void(0);"  class="dropdown-toggle" >
				<i class="icon-cogs"></i>
				<span class="menu-text">Transaction</span>
				<b class="arrow icon-angle-down"></b>
			</a>
			<ul class="submenu">
				<li>
					<a href="javascript:void(0);" onclick="loadUrl('{$host}Backoffice-Grid/invoice');$('#judul_kecil').html('Invoice List')">
						<i class="icon-double-angle-right"></i>
						<span class="menu-text">Invoice Independent</span>
					</a>
				</li>
				<li>
					<a href="javascript:void(0);" onclick="loadUrl('{$host}Backoffice-Grid/invoice_package');$('#judul_kecil').html('Invoice Services Package List')">
						<i class="icon-double-angle-right"></i>
						<span class="menu-text">Invoice Package</span>
					</a>
				</li>
				
				
			</ul>
		</li>
		<li>
			<a href="javascript:void(0);"  class="dropdown-toggle" >
				<i class="icon-cogs"></i>
				<span class="menu-text">Planning</span>
				<b class="arrow icon-angle-down"></b>
			</a>
			<ul class="submenu">
				<li>
					<a href="javascript:void(0);" onclick="loadUrl('{$host}Backoffice-Grid/planning');$('#judul_kecil').html('Planning Services From Invoice')">
						<i class="icon-double-angle-right"></i>
						<span class="menu-text">Planing Services Independent</span>
					</a>
				</li>
				<li>
					<a href="javascript:void(0);" onclick="loadUrl('{$host}Backoffice-Grid/planning_package');$('#judul_kecil').html('Planning Full Host Package Services From Invoice')">
						<i class="icon-double-angle-right"></i>
						<span class="menu-text">Planing Full Host Services</span>
					</a>
				</li>
				<li>
					<a href="javascript:void(0);" onclick="loadUrl('{$host}Backoffice-Grid/planning_package_own');$('#judul_kecil').html('Planning Host Package Services From Invoice')">
						<i class="icon-double-angle-right"></i>
						<span class="menu-text">Planning Host Services By Owner</span>
					</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="javascript:void(0);"  class="dropdown-toggle" >
				<i class="icon-cogs"></i>
				<span class="menu-text">Payment</span>
				<b class="arrow icon-angle-down"></b>
			</a>
			<ul class="submenu">
				<li>
					<a href="javascript:void(0);" onclick="loadUrl('{$host}Backoffice-Grid/confirm_independent');$('#judul_kecil').html('Confirm Payment Independent From Invoice')">
						<i class="icon-double-angle-right"></i>
						<span class="menu-text">Confirmation Payment Independent</span>
					</a>
				</li>
				<li>
					<a href="javascript:void(0);" onclick="loadUrl('{$host}Backoffice-Grid/confirm_package');$('#judul_kecil').html('Confirm Payment Package From Invoice')">
						<i class="icon-double-angle-right"></i>
						<span class="menu-text">Confirmation Payment Package</span>
					</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="javascript:void(0);"  class="dropdown-toggle" >
				<i class="icon-cogs"></i>
				<span class="menu-text">Report</span>
				<b class="arrow icon-angle-down"></b>
			</a>
			<ul class="submenu">
				<li>
					<a href="javascript:void(0);" onclick="loadUrl('{$host}Backoffice-Report/inv_paid');$('#judul_kecil').html('Report Invoice Paid')">
						<i class="icon-double-angle-right"></i>
						<span class="menu-text"> Report Invoice Paid</span>
					</a>
				</li>
				<li>
					<a href="javascript:void(0);" onclick="loadUrl('{$host}Backoffice-Report/inv_unpaid');$('#judul_kecil').html('Report Invoice UnPaid')">
						<i class="icon-double-angle-right"></i>
						<span class="menu-text"> Report Invoice UnPaid</span>
					</a>
				</li>
				<li>
					<a href="javascript:void(0);" onclick="loadUrl('{$host}Backoffice-Report/unit');$('#judul_kecil').html('Report Property Owner List')">
						<i class="icon-double-angle-right"></i>
						<span class="menu-text"> Report List Property</span>
					</a>
				</li>
				<li>
					<a href="javascript:void(0);" onclick="loadUrl('{$host}Backoffice-Report/registrasi');$('#judul_kecil').html('Report Owner Registration')">
						<i class="icon-double-angle-right"></i>
						<span class="menu-text"> Report Owner Registration</span>
					</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="javascript:void(0);"  class="dropdown-toggle" >
				<i class="icon-cogs"></i>
				<span class="menu-text">Reference</span>
				<b class="arrow icon-angle-down"></b>
			</a>
			<ul class="submenu">
				<li>
					<a href="javascript:void(0);" onclick="">
						<i class="icon-double-angle-right"></i>
						<span class="menu-text">Facility Unit</span>
					</a>
				</li>
				<li>
					<a href="javascript:void(0);" onclick="">
						<i class="icon-double-angle-right"></i>
						<span class="menu-text">Compulsary Payment</span>
					</a>
				</li>
				<li>
					<a href="javascript:void(0);" onclick="">
						<i class="icon-double-angle-right"></i>
						<span class="menu-text">Listing List</span>
					</a>
				</li>
				<li>
					<a href="javascript:void(0);" onclick="">
						<i class="icon-double-angle-right"></i>
						<span class="menu-text">Listing Third Party</span>
					</a>
				</li>
				<li>
					<a href="javascript:void(0);" onclick="">
						<i class="icon-double-angle-right"></i>
						<span class="menu-text">Owner Type</span>
					</a>
				</li>
				<li>
					<a href="javascript:void(0);" onclick="">
						<i class="icon-double-angle-right"></i>
						<span class="menu-text">Room Type</span>
					</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="javascript:void(0);"  class="dropdown-toggle" >
				<i class="icon-cogs"></i>
				<span class="menu-text">User Management</span>
				<b class="arrow icon-angle-down"></b>
			</a>
			<ul class="submenu">
				<li>
					<a href="javascript:void(0);" onclick="loadUrl('{$host}Backoffice-Grid/registration');$('#judul_kecil').html('Registration List')">
						<i class="icon-double-angle-right"></i>
						<span class="menu-text">Registration</span>
					</a>
				</li>
				<li>
					<a href="javascript:void(0);" onclick="loadUrl('{$host}Backoffice-Grid/member');$('#judul_kecil').html('Member List')">
						<i class="icon-double-angle-right"></i>
						<span class="menu-text">Member</span>
					</a>
				</li>
				<li>
					<a href="javascript:void(0);" onclick="">
						<i class="icon-double-angle-right"></i>
						<span class="menu-text">Member Access Control</span>
					</a>
				</li>
			</ul>
		</li>
		
	</ul><!--/.nav-list-->

	<div class="sidebar-collapse" id="sidebar-collapse">
		<i class="icon-double-angle-left"></i>
	</div>
</div>