<div  class="sidebar fixed" id="sidebar">
	<ul class="nav nav-list">
		<li>
			<a href="javascript:void(0);" onclick="loadUrl('{$host}beranda');$('#judul_kecil').html('Dashboard App')">
				<i class="icon-home"></i>
				<span class="menu-text">Dashboard 1</span>
			</a>
		</li>
		<li>
			<a href="javascript:void(0);" onclick="">
				<i class="icon-laptop"></i>
				<span class="menu-text">Dashboard 2</span>
			</a>
		</li>
		<li>
			<a href="javascript:void(0);" onclick="">
				<i class="icon-laptop"></i>
				<span class="menu-text">Report</span>
			</a>
		</li>
		<li>
			<a href="javascript:void(0);"  class="dropdown-toggle" >
				<i class="icon-cogs"></i>
				<span class="menu-text"> Konfigurasi </span>
				<b class="arrow icon-angle-down"></b>
			</a>
			<ul class="submenu">
				<li>
					<a href="javascript:void(0);" onclick="">
						<i class="icon-double-angle-right"></i>
						<span class="menu-text">Konfigurasi Umum</span>
					</a>
				</li>
			</ul>
		</li>
	</ul><!--/.nav-list-->

	<div class="sidebar-collapse" id="sidebar-collapse">
		<i class="icon-double-angle-left"></i>
	</div>
</div>