<div  class="sidebar fixed" id="sidebar">
	<ul class="nav nav-list">
		<li>
			<a href="javascript:void(0);" onclick="loadUrl('{$host}beranda');$('#judul_kecil').html('Dashboard App')">
				<i class="icon-home"></i>
				<span class="menu-text">Dashboard 1</span>
			</a>
		</li>
		
		<li>
			<a href="javascript:void(0);" onclick="loadUrl('{$host}Backoffice-Grid/property');$('#judul_kecil').html('Property List')">
				<i class="icon-laptop"></i>
				<span class="menu-text">Property</span>
			</a>
		</li>
		
		<li>
			<a href="javascript:void(0);"  class="dropdown-toggle" >
				<i class="icon-cogs"></i>
				<span class="menu-text">Services & Pricing</span>
				<b class="arrow icon-angle-down"></b>
			</a>
			<ul class="submenu">
				<li>
					<a href="javascript:void(0);" onclick="loadUrl('{$host}Backoffice-Grid/services');$('#judul_kecil').html('Services List')">
						<i class="icon-double-angle-right"></i>
						<span class="menu-text">Services</span>
					</a>
				</li>
				<li>
					<a href="javascript:void(0);" onclick="loadUrl('{$host}backoffice-konten/pricing');$('#judul_kecil').html('Pricing Services List')">
						<i class="icon-double-angle-right"></i>
						<span class="menu-text">Pricing Services</span>
					</a>
				</li>
				<li>
					<a href="javascript:void(0);" onclick="loadUrl('{$host}backoffice-konten/package');$('#judul_kecil').html('Packages Services List')">
						<i class="icon-double-angle-right"></i>
						<span class="menu-text">Package Services</span>
					</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="javascript:void(0);"  class="dropdown-toggle" >
				<i class="icon-cogs"></i>
				<span class="menu-text">Transaction</span>
				<b class="arrow icon-angle-down"></b>
			</a>
			<ul class="submenu">
				<li>
					<a href="javascript:void(0);" onclick="loadUrl('{$host}Backoffice-Grid/invoice');$('#judul_kecil').html('Invoice List')">
						<i class="icon-double-angle-right"></i>
						<span class="menu-text">Invoice Independent</span>
					</a>
				</li>
				<li>
					<a href="javascript:void(0);" onclick="loadUrl('{$host}Backoffice-Grid/invoice_package');$('#judul_kecil').html('Invoice Services Package List')">
						<i class="icon-double-angle-right"></i>
						<span class="menu-text">Invoice Package</span>
					</a>
				</li>
				<li>
					<a href="javascript:void(0);" onclick="loadUrl('{$host}Backoffice-Grid/planning');$('#judul_kecil').html('Planning Services From Invoice')">
						<i class="icon-double-angle-right"></i>
						<span class="menu-text">Planing Services</span>
					</a>
				</li>
				
			</ul>
		</li>
		
		<li>
			<a href="javascript:void(0);" onclick="">
				<i class="icon-laptop"></i>
				<span class="menu-text">Payment</span>
			</a>
		</li>
		<li>
			<a href="javascript:void(0);" onclick="">
				<i class="icon-laptop"></i>
				<span class="menu-text">Report</span>
			</a>
		</li>
		<li>
			<a href="javascript:void(0);"  class="dropdown-toggle" >
				<i class="icon-cogs"></i>
				<span class="menu-text">Reference</span>
				<b class="arrow icon-angle-down"></b>
			</a>
			<ul class="submenu">
				<li>
					<a href="javascript:void(0);" onclick="">
						<i class="icon-double-angle-right"></i>
						<span class="menu-text">Facility Unit</span>
					</a>
				</li>
				<li>
					<a href="javascript:void(0);" onclick="">
						<i class="icon-double-angle-right"></i>
						<span class="menu-text">Compulsary Payment</span>
					</a>
				</li>
				<li>
					<a href="javascript:void(0);" onclick="">
						<i class="icon-double-angle-right"></i>
						<span class="menu-text">Listing List</span>
					</a>
				</li>
				<li>
					<a href="javascript:void(0);" onclick="">
						<i class="icon-double-angle-right"></i>
						<span class="menu-text">Listing Third Party</span>
					</a>
				</li>
				<li>
					<a href="javascript:void(0);" onclick="">
						<i class="icon-double-angle-right"></i>
						<span class="menu-text">Owner Type</span>
					</a>
				</li>
				<li>
					<a href="javascript:void(0);" onclick="">
						<i class="icon-double-angle-right"></i>
						<span class="menu-text">Room Type</span>
					</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="javascript:void(0);"  class="dropdown-toggle" >
				<i class="icon-cogs"></i>
				<span class="menu-text">User Management</span>
				<b class="arrow icon-angle-down"></b>
			</a>
			<ul class="submenu">
				<li>
					<a href="javascript:void(0);" onclick="loadUrl('{$host}Backoffice-Grid/registration');$('#judul_kecil').html('Registration List')">
						<i class="icon-double-angle-right"></i>
						<span class="menu-text">Registration</span>
					</a>
				</li>
				<li>
					<a href="javascript:void(0);" onclick="loadUrl('{$host}Backoffice-Grid/member');$('#judul_kecil').html('Member List')">
						<i class="icon-double-angle-right"></i>
						<span class="menu-text">Member</span>
					</a>
				</li>
				<li>
					<a href="javascript:void(0);" onclick="">
						<i class="icon-double-angle-right"></i>
						<span class="menu-text">Member Access Control</span>
					</a>
				</li>
			</ul>
		</li>
		
	</ul><!--/.nav-list-->

	<div class="sidebar-collapse" id="sidebar-collapse">
		<i class="icon-double-angle-left"></i>
	</div>
</div>